{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

  * {
    font-family: 'Mulish', sans-serif;
  }

  .btn-primary.ativo {
    background-color: #d2e7f0;
    border-color: transparent;
  }

  .btn-primary {
    background-color: #BEBEBE;
    border-color: transparent;
  }

  .btn-primary.selecionado {
    background-color: #7EB3C9;
  }

  h4 {
    color: #797979;
  }

  .number {
    margin-top: 10%;
    margin-left: -18%;
  }

  p {
    font-weight: 500;
    color: #797979;
    font-size: 20px;
  }

  .borda {
    border-color: #7EB3C9;
    border-width: 2px;
    color: #7EB3C9;
  }

  .btn-secondary {
    background-color: #EAEAEA;
    color: rgb(70, 70, 70);
    border-color: transparent;
  }

  .back-azul-horario {
    background-color: #b5e5fa;
  }
</style>

<body scroll="no" style="overflow: hidden">
  <img src="{% static 'img/Grupo 1010.png' %}" alt="" style="position: absolute; width: 110%; top: -25%;">
  <!-- <a href="/"><h4 style="color: rgb(160, 160, 160);"><i class="fa fa-chevron-left"></i> Voltar</h4></a> -->
  <center>
    <img class="mt-3" src="{% static 'img/LOGO.png' %}" alt="" width="50%"
      style="position: absolute; width: 20%; left: 2%;">
  </center>
  <div class="row align-self-center">
    <div class="col-3" style="margin-left: 20%; margin-top: 2%;">
      <h5 class="float-right mt-3 ml-3">Seleção de serviços</h5>
      <a class="btn btn-primary ativo float-right"
        style="border-radius: 90px; width: 30px; font-size: 20px; height: 50px; padding: 2.7% 10% 0 6%;">1</a>
    </div>
    <div class="col-3" style="margin-left: -2%; margin-top: 2%;">
      <h5 class="float-right mt-3 ml-3">Detalhes do serviço</h5>
      <a class="btn btn-primary float-right"
        style="border-radius: 90px; width: 30px; font-size: 20px; height: 50px; padding: 2.7% 10% 0 6%;">2</a>
    </div>
    <div class="col-3" style="margin-top: 2%;">
      <h5 class="float-right mt-3 ml-3">Método de pagamento</h5>
      <a class="btn btn-primary float-right"
        style="border-radius: 90px; width: 30px; font-size: 20px; height: 50px; padding: 2.7% 10% 0 6%;">3</a>
    </div>
  </div>

  <!-- <div class="row" id="etapas">
    <div class="col-12">
      <div class="row number" style="margin-top: 5%;">
        <div class="col-2"></div>
        <div class="col-3">
          <a href="" class="btn btn-primary float-right"
            style="border-radius: 50px; width: 60px; font-size: 30px;">1</a>
        </div>
        <div class="col-7" style="margin-top: 2.5%; margin-left: -2%;">
          <h4>Seleção de serviços</h4>
        </div>
      </div>
      <div class="row number">
        <div class="col-2"></div>
        <div class="col-3">
          <a href="" class="btn btn-primary ativo float-right"
            style="border-radius: 50px; width: 60px; font-size: 30px;">2</a>
        </div>
        <div class="col-7" style="margin-top: 2.5%; margin-left: -2%;">
          <h4>Detalhes do serviço</h4>
        </div>
      </div>
      <div class="row number">
        <div class="col-2"></div>
        <div class="col-3">
          <a href="" class="btn btn-primary float-right"
            style="border-radius: 50px; width: 60px; font-size: 30px;">3</a>
        </div>
        <div class="col-7" style="margin-top: 2.5%; margin-left: -2%;">
          <h4>Método de pagamento</h4>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-2">
      <center>
        <h4 style="color: #7EB3C9; font-size: 15px;">1- Seleciona as aulas</h4>
      </center>
      <button class="btn btn-primary ativo btn-block" id="1xsemana" style="font-size: 20px; border-radius: 10px;"
        onclick="document.getElementById('id_Frequ').value = 1, document.getElementById('id_Frequencia').value = 1, this.classList.add('selecionado'), document.getElementById('2xsemana').classList.remove('selecionado'), document.getElementById('3xsemana').classList.remove('selecionado'), document.getElementById('avulsa').classList.remove('selecionado'), freq()">1x
        na semana</button>
      <button class="btn btn-primary ativo btn-block" id="2xsemana" style="font-size: 20px; border-radius: 10px;"
        onclick="document.getElementById('id_Frequ').value = 2, document.getElementById('id_Frequencia').value = 2, this.classList.add('selecionado'), document.getElementById('1xsemana').classList.remove('selecionado'), document.getElementById('avulsa').classList.remove('selecionado'), freq()">2x
        na semana</button>
      <button class="btn btn-primary ativo btn-block" id="3xsemana" style="font-size: 20px; border-radius: 10px;"
        onclick="document.getElementById('id_Frequ').value = 3, document.getElementById('id_Frequencia').value = 3, this.classList.add('selecionado'), document.getElementById('1xsemana').classList.remove('selecionado'), document.getElementById('2xsemana').classList.remove('selecionado'), document.getElementById('avulsa').classList.remove('selecionado'), freq()">3x
        na semana</button>
      <button class="btn btn-primary ativo btn-block" id="avulsa" style="font-size: 20px; border-radius: 10px;"
        onclick="document.getElementById('id_Frequ').value = 4, document.getElementById('id_Frequencia').value = 4, this.classList.add('selecionado'), document.getElementById('1xsemana').classList.remove('selecionado'), document.getElementById('2xsemana').classList.remove('selecionado'), document.getElementById('3xsemana').classList.remove('selecionado'), freq()">Avulsa</button>
    </div>
    <div class="col-4">
      <div class="d-none" id="dia_primeira_aula">
        <center>
          <h4 style="color: #7EB3C9; font-size: 15px;">2- Selecione o dia</h4>
        </center>
        <div class="row">
          <div class="col-6">
            <div class="btn btn-outline-secondary btn-block" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'segunda', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              SEGUNDA
            </div>
            <div class="btn btn-outline-secondary btn-block mt-3" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'terca', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              TERÇA</div>
            <div class="btn btn-outline-secondary btn-block mt-3" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'quarta', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              QUARTA</div>
          </div>
          <div class="col-6">
            <div class="btn btn-outline-secondary btn-block" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'quinta', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              QUINTA</div>
            <div class="btn btn-outline-secondary btn-block mt-3" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'sexta', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              SEXTA</div>
            <div class="btn btn-outline-secondary btn-block mt-3" style="border-radius: 10px; font-size: 20px;"
              onclick="document.getElementById('dia_semana').value = 'sabado', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
              SÁBADO</div>
          </div>
          <div class="col-3"></div>
          <div class="col-6">
            <div class="btn btn-outline-secondary btn-block mt-3" style="border-radius: 10px; font-size: 20px;"
            onclick="document.getElementById('dia_semana').value = 'domingo', this.classList.remove('btn-outline-secondary'), this.classList.add('borda'), fc_dia_semana()">
            DOMINGO</div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="d-none" id="horario_primeira_aula">
        <center>
          <h4 style="color: #7EB3C9; font-size: 15px;">3- Selecione o horário</h4>
        </center>
        <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_1"
          onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_3').classList.add('btn-secondary'), document.getElementById('horario_3').classList.remove('back-azul-horario'), document.getElementById('horario_2').classList.add('btn-secondary'), document.getElementById('horario_2').classList.remove('back-azul-horario'),this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '06:30', fc_selecionar_horario()">
          06:30 - 08:00</div>
        <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_2"
          onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_1').classList.add('btn-secondary'), document.getElementById('horario_1').classList.remove('back-azul-horario'), document.getElementById('horario_3').classList.add('btn-secondary'), document.getElementById('horario_3').classList.remove('back-azul-horario'), this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '08:00', fc_selecionar_horario()">
          08:00 - 09:30</div>
        <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_3"
          onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_2').classList.add('btn-secondary'), document.getElementById('horario_2').classList.remove('back-azul-horario'), document.getElementById('horario_1').classList.add('btn-secondary'), document.getElementById('horario_1').classList.remove('back-azul-horario'), this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '09:30', fc_selecionar_horario()">
          09:30 - 11:00</div>
        
      </div>
      <div class="controls d-none">
        <select name="horario" class="select" id="horario">
          <option value="" selected="">---------</option>
          <option value="06:30">06:30 - 08:00</option>
          <option value="08:00">08:00 - 09:30</option>
          <option value="09:30">09:30 - 11:00</option>
        </select>
      </div>
    </div>
    <div class="col-8 mt-5" style="margin-left: 16%;">
      <button type="button" class="btn btn-primary btn-block selecionado d-none" id="btn_datas_diponiveis"
      style="font-size: 22px; border-radius: 10px;"
      onclick="document.querySelector('#btn_submit').click();">Pesquisar datas disponíveis</button>
    </div>
    
  </div>

  <form action="" method="get">
    <div id="nivel" class="d-none">{{matricula.Nivel}}</div>
    <div id="aula" class="d-none">{{matricula.Aula}}</div>
    <form method="GET" id="escolhas_aluna">
      <div class="d-none" id="frequencia">
        <div id="" class="control-group">
          <label for="id_Frequ" class="control-label"> Frequencia </label>
          <div class="controls">
            <select name="Frequencia_Fake" class="select" id="id_Frequ">
              <option value="" selected="">---------</option>
              <option value="1">1x na semana</option>
              <option value="2">2x na semana</option>
              <option value="3">3x na semana</option>
              <option value="4">Avulsa</option>
            </select>
          </div>
        </div>
      </div>

      <div class="controls d-none">
        <select name="dia_semana" class="select" id="dia_semana">
          <option value="" selected="">---------</option>
          <option value="segunda">Segunda</option>
          <option value="terca">Terça</option>
          <option value="quarta">Quarta</option>
          <option value="quinta">Quinta</option>
          <option value="sexta">Sexta</option>
          <option value="sabado">Sábado</option>
          <option value="domingo">Domingo</option>
        </select>
      </div>
    </form>
    </div>

    <div class="d-none" id="dia_segunda_aula">
      <div class="control-group">
        <label for="dia_semana2" class="control-label">
          Selecione o dia da segunda aula
        </label>
        <div class="controls">
          <select name="dia_semana2" class="select" id="dia_semana2">
            <option value="" selected="">---------</option>
            <option value="segunda">Segunda</option>
            <option value="terca">Terça</option>
            <option value="quarta">Quarta</option>
            <option value="quinta">Quinta</option>
            <option value="sexta">Sexta</option>
            <option value="sabado">Sábado</option>
            <option value="domingo">Domingo</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-none" id="dia_terceira_aula">
      <div class="control-group">
        <label for="dia_semana3" class="control-label">
          Selecione o dia da terceira aula
        </label>
        <div class="controls">
          <select name="dia_semana3" class="select" id="dia_semana3">
            <option value="" selected="">---------</option>
            <option value="segunda">Segunda</option>
            <option value="terca">Terça</option>
            <option value="quarta">Quarta</option>
            <option value="quinta">Quinta</option>
            <option value="sexta">Sexta</option>
            <option value="sabado">Sábado</option>
            <option value="domingo">Domingo</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-none mt-5" id="horario_primeira_aula">
      <div class="control-group">
        <center>
          <h4 style="color: #7EB3C9;">3- Selecione o horário da primeira aula</h4>
        </center>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 mt-3">
            <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_1"
              onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_3').classList.add('btn-secondary'), document.getElementById('horario_3').classList.remove('back-azul-horario'), document.getElementById('horario_2').classList.add('btn-secondary'), document.getElementById('horario_2').classList.remove('back-azul-horario'),this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '06:30', fc_selecionar_horario()">
              06:30 - 08:00</div>
          </div>
          <div class="col-3"></div>

          <div class="col-3"></div>
          <div class="col-6 mt-3">
            <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_2"
              onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_1').classList.add('btn-secondary'), document.getElementById('horario_1').classList.remove('back-azul-horario'), document.getElementById('horario_3').classList.add('btn-secondary'), document.getElementById('horario_3').classList.remove('back-azul-horario'), this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '08:00', fc_selecionar_horario()">
              08:00 - 09:30</div>
          </div>
          <div class="col-3"></div>

          <div class="col-3"></div>
          <div class="col-6 mt-3">
            <div class="btn btn-secondary btn-block" style="font-size: 30px; border-radius: 10px;" id="horario_3"
              onclick="document.getElementById('id_Inicio').value = this.innerHTML.split(' -')[0], document.getElementById('horario_2').classList.add('btn-secondary'), document.getElementById('horario_2').classList.remove('back-azul-horario'), document.getElementById('horario_1').classList.add('btn-secondary'), document.getElementById('horario_1').classList.remove('back-azul-horario'), this.classList.remove('btn-secondary'), this.classList.add('back-azul-horario'), document.getElementById('horario').value = '09:30', fc_selecionar_horario()">
              09:30 - 11:00</div>
          </div>
          <div class="col-3"></div>

          <div class="col-2"></div>
          <div class="col-8 mt-3">
            <button type="button" class="btn btn-primary btn-block selecionado d-none" id="btn_datas_diponiveis"
              style="font-size: 22px; border-radius: 10px;"
              onclick="document.querySelector('#btn_submit').click();">Pesquisar datas disponíveis</button>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="controls d-none">
          <select name="horario" class="select" id="horario">
            <option value="" selected="">---------</option>
            <option value="06:30">06:30 - 08:00</option>
            <option value="08:00">08:00 - 09:30</option>
            <option value="09:30">09:30 - 11:00</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-none" id="horario_segunda_aula">
      <div class="control-group">
        <label for="horario2" class="control-label">
          Selecione o horário da segunda aula
        </label>
        <div class="controls">
          <select name="horario2" class="select" id="horario2">
            <option value="" selected="">---------</option>
            <option value="06:30">06:30 - 08:00</option>
            <option value="08:00">08:00 - 09:30</option>
            <option value="09:30">09:30 - 11:00</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-none" id="horario_terceira_aula">
      <div class="control-group">
        <label for="horario3" class="control-label">
          Selecione o horário da terceira aula
        </label>
        <div class="controls">
          <select name="horario3" class="select" id="horario3">
            <option value="" selected="">---------</option>
            <option value="06:30">06:30 - 08:00</option>
            <option value="08:00">08:00 - 09:30</option>
            <option value="09:30">09:30 - 11:00</option>
          </select>
        </div>
      </div>
    </div>

  </form>

  <div class="d-none mt-5" id="selecionar_aulas">
    <form method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-12">

          <label for="data_aula2" class="d-none" id="label_data_aula2">Selecione a data da segunda aula</label>
          <input type="date" class="d-none" name="data_aula2" id="data_aula2" />
          <label for="data_aula3" class="d-none" id="label_data_aula3">Selecione a data da terceira aula</label>
          <input type="date" class="d-none" name="data_aula3" id="data_aula3" />


          <div class="d-none">{{form.Dia_Semana|as_crispy_field }}</div>
          <div class="d-none">{{form.Inicio|as_crispy_field }}</div>
          <div class="d-none">{{form.Frequencia|as_crispy_field }}</div>
          <div class="d-none">{{form.Nivel|as_crispy_field }}</div>
          <div class="d-none">{{form.Aula|as_crispy_field }}</div>
          <div class="d-none" id="select_aulas">
            <center>
              <h4 style="color: #7EB3C9;">4- Selecione a data da primeira aula</h4>
              <div class="col-8">
                <input type="date" class="form-control d-none mt-3" name="data_aula" id="data_aula" />
              </div>
              {{form.Dia_De_Aula_Disponivel|as_crispy_field }}
              <div class="col-5 mt-2">
                <button type="button" class="btn btn-primary btn-block ativo d-none"
                  onclick="this.classList.add('d-none'), document.getElementById('btn_submit').classList.remove('d-none')"
                  id="btn_selecionar" style="font-size: 25px; background-color: #7EB3C9; border-radius: 15px;">
                  Confirmar</button>
              </div>
              <button type="submit" class="btn btn-primary selecionado m-2 d-none" id="btn_submit"
                style="font-size: 25px; border-radius: 10px;">
                Avançar para o pagamento <i class="fa fa-arrow-right"></i>
              </button>
            </center>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

  document.querySelector("#div_id_Dia_De_Aula_Disponivel > label").classList.add('d-none');
  document.querySelector("#id_Dia_De_Aula_Disponivel").style.marginTop = "20px";

  var selected = [];

  for (var option of document.getElementById("id_Dia_De_Aula_Disponivel")
    .options) {
    if (option.selected) {
      selected.push(option.value);
    }
  }

  document.querySelector("#data_aula").onchange = function () {
    data_escolhida = document.querySelector("#data_aula").value;

    data_escolhida = data_escolhida.split('-')

    data_escolhida = data_escolhida[2] + "/" + data_escolhida[1] + "/" + data_escolhida[0]

    contains = "Dia: " + data_escolhida

    val_aula_1 = $(
      "#id_Dia_De_Aula_Disponivel option:contains(" + contains + ")"
    ).val();
    document.querySelector("#id_Dia_De_Aula_Disponivel").value = val_aula_1;

    if (val_aula_1) {
      console.log("sim")

      for (var option of document.getElementById("id_Dia_De_Aula_Disponivel")
        .options) {
        if (option.selected) {
          selected.push(document.getElementById("id_Dia_De_Aula_Disponivel").selectedIndex);
        }
      }
      console.log(selected);

      document.querySelector("#btn_selecionar").classList.remove('d-none');

    } else {
      alert("Selecione uma data disponível!")
    }

    // var frequencia = document.querySelector("#id_Frequencia").value
    // if (frequencia = '2') {
    //   document.querySelector("#data_aula").classList.add('d-none')
    //   document.querySelector("#label_data_aula2").classList.remove('d-none')
    //   document.querySelector("#data_aula2").classList.remove('d-none')

    //   document.querySelector("#dia_primeira_aula").classList.add('d-none')
    //   document.querySelector("#dia_segunda_aula").classList.remove('d-none')
    //   document.querySelector("#horario_primeira_aula").classList.add('d-none')
    //   document.querySelector("#horario_segunda_aula").classList.remove('d-none')
  };

  document.querySelector("#data_aula2").onchange = function () {
    data_escolhida = document.querySelector("#data_aula2").value;

    contains = document.querySelector("#aula").innerHTML + " " + document.querySelector("#nivel").innerHTML + ", Dia: " + data_escolhida

    val_aula = $(
      "#id_Dia_De_Aula_Disponivel option:contains(" + contains + ")"
    ).val();
    document.querySelector("#id_Dia_De_Aula_Disponivel").value = val_aula;
    for (var option of document.getElementById("id_Dia_De_Aula_Disponivel")
      .options) {
      if (option.selected) {
        selected.push(document.getElementById("id_Dia_De_Aula_Disponivel").selectedIndex);
      }
    }

    console.log(selected);

    var escolha1 = document.querySelector("#id_Dia_De_Aula_Disponivel")
      .options[selected[0]];
    var escolha2 = document.querySelector("#id_Dia_De_Aula_Disponivel")
      .options[selected[1]];

    console.log(escolha1);
    console.log(escolha2);

    escolha1.selected = true;
    escolha2.selected = true;

    var frequencia = document.querySelector("#id_Frequencia").value
    if (frequencia = '3') {
      document.querySelector("#label_data_aula3").classList.remove('d-none')
      document.querySelector("#data_aula3").classList.remove('d-none')

      document.querySelector("#label_data_aula2").classList.add('d-none')
      document.querySelector("#data_aula2").classList.add('d-none')
      document.querySelector("#dia_segunda_aula").classList.add('d-none')
      document.querySelector("#dia_terceira_aula").classList.remove('d-none')
      document.querySelector("#horario_segunda_aula").classList.add('d-none')
      document.querySelector("#horario_terceira_aula").classList.remove('d-none')
    }
  };

  document.querySelector("#data_aula3").onchange = function () {
    data_escolhida = document.querySelector("#data_aula3").value;

    contains = document.querySelector("#aula").innerHTML + " " + document.querySelector("#nivel").innerHTML + ", Dia: " + data_escolhida

    val_aula = $(
      "#id_Dia_De_Aula_Disponivel option:contains(" + contains + ")"
    ).val();
    document.querySelector("#id_Dia_De_Aula_Disponivel").value = val_aula;
    for (var option of document.getElementById("id_Dia_De_Aula_Disponivel")
      .options) {
      if (option.selected) {
        selected.push(document.getElementById("id_Dia_De_Aula_Disponivel").selectedIndex);
      }
    }

    console.log(selected);

    var escolha1 = document.querySelector("#id_Dia_De_Aula_Disponivel")
      .options[selected[0]];
    var escolha2 = document.querySelector("#id_Dia_De_Aula_Disponivel")
      .options[selected[1]];
    var escolha3 = document.querySelector("#id_Dia_De_Aula_Disponivel")
      .options[selected[2]];

    console.log(escolha1);
    console.log(escolha2);
    console.log(escolha3);

    escolha1.selected = true;
    escolha2.selected = true;
    escolha3.selected = true;

  };


  document.querySelector("#id_Frequencia").value =
    window.location.href.substring(39, 40);

  if (parseInt(window.location.href.substring(20, 21))) {
    document.querySelector("#selecionar_aulas").classList.add("d-none");
  } else if (window.location.href.substring(39, 40) == "2") {
    document.querySelector("#selecionar_aulas").classList.remove("d-none");
    document.querySelector("#btn_submit").innerHTML =
      "Escolher data e horário da segunda aula";
  } else {
    document.querySelector("#selecionar_aulas").classList.remove("d-none");
  }

  function freq() {
    frequencia = document.querySelector("#id_Frequ").value;
    if (frequencia != "") {
      document.querySelector("#dia_primeira_aula").classList.remove("d-none");
    } else {
      document.querySelector("#dia_primeira_aula").classList.add("d-none");
    }
  };

  function fc_dia_semana() {
    dia_semana = document.querySelector("#dia_semana").value;

    if (dia_semana == 'segunda') {
      dia_semana = 'Segunda'
    } else if (dia_semana == 'terca') {
      dia_semana = 'Terça'
    } else if (dia_semana == 'quarta') {
      dia_semana = 'Quarta'
    } else if (dia_semana == 'quinta') {
      dia_semana = 'Quinta'
    } else if (dia_semana == 'sexta') {
      dia_semana = 'Sexta'
    } else if (dia_semana == 'sabado') {
      dia_semana = 'Sábado'
    } else if (dia_semana == 'domingo') {
      dia_semana = 'Domingo'
    }

    document.querySelector("#id_Dia_Semana").value = dia_semana;

    if (dia_semana == "sabado" || dia_semana == "domingo") {
      document.getElementById('horario_3').classList.add('d-none')
      document
        .querySelector("#horario_primeira_aula")
        .classList.remove("d-none");
    } else if (dia_semana != "") {
      document.getElementById('horario_3').classList.remove('d-none')
      document
        .querySelector("#horario_primeira_aula")
        .classList.remove("d-none");
    } else {
      document.getElementById('horario_3').classList.remove('d-none')
      document
        .querySelector("#horario_primeira_aula")
        .classList.add("d-none");
    }
  };

  function fc_selecionar_horario() {

    horario = document.querySelector("#horario").value;

    document.getElementById('btn_datas_diponiveis').classList.remove('d-none')

    // if (horario != "") {
    //   var frequencia = document.querySelector("#id_Frequ").value
    //   document.querySelector("#id_Frequencia").value = frequencia
    //   console.log(frequencia)

    //   document.querySelector("#data_aula").classList.remove('d-none')
    //   document.querySelector("#select_aulas").classList.remove('d-none')

    // }
  };

</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>